<!-- <div class="container"> -->
<div class="container">
  <!-- <button class="btn btn-outline-danger" style="float:right" (click)="logout()">Logout</button> -->
  <button data-toggle="modal" data-target="#myModal" class="btn btn-primary" id="addEventBtn" style="float:right">Add
    Event</button>
  <h1>PN Events</h1>

  <div *ngFor="let event of events">
    <div class="jumbotron col-sm-12 event-list" style="border-bottom-style:solid" [style.border-bottom-color]='colors'>
      <div class="row">
        <div class="col-sm-8">
          <h2>{{event.name}}</h2>
        </div>
        <div class="col-sm-4">
          <div class="form-group" style="float:right">
              <button class="btn btn-outline-danger" style="float:right" (click)="deleteEvent(event)">Delete Event</button>
              <button class="btn btn-outline-primary" style="float:right" (click)="viewEvent(event)">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Event Form</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-add-event-form (event)="addEvent($event)"></app-add-event-form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
