<form [formGroup]="partForm" (ngSubmit)="submitForm(partForm.value)">
    <div>
        <label for="fname">Full Name:</label>
        <input type="text" id="fname" class="form-control" formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
        <div *ngIf="submitted && f.fullName.errors" class="alert alert-danger">
            <div *ngIf="f.fullName.errors.required">Full Name is required</div>
        </div>
    </div>
    <div>
        <label for="position">Position:</label>
        <input type="text" id="position" class="form-control" formControlName="position" [ngClass]="{ 'is-invalid': submitted && f.position.errors }">
        <div *ngIf="submitted && f.position.errors" class="alert alert-danger">
            <div *ngIf="f.position.errors.required">Position is required</div>
        </div>
    </div>
    <div>
        <label for="company">Company/Organization:</label>
        <input type="text" id="company" class="form-control" formControlName="company" [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
        <div *ngIf="submitted && f.company.errors" class="alert alert-danger">
            <div *ngIf="f.company.errors.required">Companyis required</div>
        </div>
    </div>
    <button class="btn btn-success">Add</button>
</form>