<div class="jumbotron">
    <h2 class="title">{{event.name}}</h2>
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Position</th>
                    <th>Company/Organization</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let each of event.participants">
                    <td>{{each.fullName}}</td>
                    <td>{{each.position}}</td>
                    <td>{{each.company}}</td>
                    <td><button class="btn btn-outline-danger" (click)="deletePart(each)">Delete</button></td>
                </tr>
                <!-- <tr *ngFor="let each of participants">
                <td>{{event.fullName}}</td>
                <td>{{event.position}}</td>
                <td>{{event.company}}</td>
            </tr> -->
            </tbody>
        </table>
    </div>
    <button class="btn btn-success" (click)="return()">Back</button>
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Join</button>
</div>


<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Participant</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" #modal>
                <form [formGroup]="partForm" (ngSubmit)="submitForm(partForm.value)">
                    <div>
                        <label for="fname">Full Name:</label>
                        <input type="text" id="fname" class="form-control" formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
                        <div *ngIf="submitted && f.fullName.errors" class="alert alert-danger">
                            <div *ngIf="f.fullName.errors.required">Full Name is required</div>
                        </div>
                    </div>
                    <div>
                        <label for="position">Position:</label>
                        <input type="text" id="position" class="form-control" formControlName="position" [ngClass]="{ 'is-invalid': submitted && f.position.errors }">
                        <div *ngIf="submitted && f.position.errors" class="alert alert-danger">
                            <div *ngIf="f.position.errors.required">Position is required</div>
                        </div>
                    </div>
                    <div>
                        <label for="company">Company/Organization:</label>
                        <input type="text" id="company" class="form-control" formControlName="company" [ngClass]="{ 'is-invalid': submitted && f.company.errors }">
                        <div *ngIf="submitted && f.company.errors" class="alert alert-danger">
                            <div *ngIf="f.company.errors.required">Companyis required</div>
                        </div>
                    </div><br>
                    <button class="btn btn-outline-success btn-block">Add</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>