h1 {
    justify-content: center;
    display: flex;
}

.card {
    border-top-style: solid;
    border-top-width: 10px;
}

.body-content{
    font-size: 25px;
    padding-left: 30px;
}

.spinner-border{
    display: block;
    margin-left:auto; 
    margin-right:auto
}

.rotate {
    animation: rotation 2s;
    
  }

#image{
    width:40vh;
    height:40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    position: absolute;
    top: 50%;

    
}
  
  .linear {
    animation-timing-function: linear;
  }
  
  .infinite {
    animation-iteration-count: infinite;
  }
  
  @keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }